/*RESET*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY TODOS LOS HTML*/
body {
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
}

/*LINKS*/
a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/*LI*/
li {
    text-align: center;
    padding: 10px;
}

/*HEADER*/

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: transparent;
    height: 90px;
}

.header__logo { 
    border-radius: 10px;
    width: 180px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__logo:hover {
    transform: scale(1.1);
}

.navbar_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent!important;
    height: 90px;
    margin: 10px;
    padding: 10px;
}

.navbarNav {
    width: 100%;
    margin:0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 600;
}

.nav-link:hover {
    transform: scale(1.5);
}

/*FOOTER*/
footer{ 
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.texto__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #182e43;
    font-size: small;
    font-weight: 500;
    text-align: left;
    margin: 0px;
    margin-left: 30px;
}

.textoFooterContacto:hover {
    transform: scale(1.2);
}

.textoFooterContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #182e43;
    font-size: medium;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    margin: 0px;
    margin-right: 40px;
}

.div__footer__logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    margin-right: 40px;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 1px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.footer__logo:hover {
    transform: scale(1.1);
}

/*MAIN*/
main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main_row {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*MAIN INDEX*/

.carousel {
    width: 1200px;
    height: min-content;
    margin-top: 30px;
}

.img {
    border-radius: 20px;
}


.button_index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: large;
    font-weight: 600;
}

/*MAIN SERVICIOS*/

.container_main_servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    max-width: 550px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
}

.container_main_servicios:hover {
    transform: scale(1.1);
}

.card-title-servicios {
    font-weight: 600;
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: lightgray;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_servicios_imagen {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border-style: none;
    object-fit: cover;
}

.imagenes_tarjetas_servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton_servicios {
    font-size: large;
    font-weight: 600; 
}

/*MAIN PRECIO*/

.container_main_precios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.container_main_precios:hover {
    transform: scale(1.05);
}

.flexbox_tarjeta_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tarjeta1{
    border-color: #F574BF;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.card_1_title {
    font-weight: 600;
    text-align: center;
    color: #F574BF;
    font-size: 20px;
}

.boton_precios_1 {
    background-color: #F574BF;
    font-weight: 600;
}

.tarjeta2 {
    border-color: #57A0FA;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.card_2_title {
    font-weight: 600;
    text-align: center;
    color: #57A0FA;
    font-size: 20px;
}

.botonPrecios2 {
    background-color: #57a0fa;
    font-weight: 600;
}

.tarjeta3 {
    border-color: #00E300;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.card_3_title {
    font-weight: 600;
    text-align: center;
    color: #00E300;
    font-size: 20px;
}

.botonPrecios3 {
    background-color:#00E300;
    font-weight: 600;
}


.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 600;
    color: black;
    font-size: 14px;
}

.card-text-light {
    text-align: center;
    color: #bcc6cf;
    font-size: smaller;
    margin-bottom: 40px;
}

.card-img {
    height: 550px;
    width: 320px;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tarjeta4 {
    border-color: #F5DD2E;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
}

.flexbox_tarjeta_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_4_title {
    font-weight: 600;
    text-align: center;
    color: #F5DD2E;
    font-size: 20px;
}

.boton_precios_4 {
    font-weight: 600;
    background-color: #F5DD2E;
}

/*MAIN CLIENTES*/

.tarjeta_clientes {
    height: 400px;
    width: 270px;
    border-radius: 50px;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    background-color: transparent!important;
    margin: 20px;
}

.tarjeta_clientes:hover {
    transform:scale(1.05) ;
}

.card-title-black {
    color: black;
}

/*MAIN CONTACTO:*/

.div__main__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div__main__contacto__elementos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: black;
    border-radius: 10px;
    border-style: solid;
}

.imagenAgenda {
    padding: 20px;
    margin: 20px;
    border-radius: 0px;
    width: 100px;
    height: 100px;
}

input {
    font-size: large;
    font-weight: 400;
    text-align: center;
    border: lightgray;
    border-radius: 10px;
    border-style: hidden;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: white;
}    

select {
    font-size: large;
    font-weight: 400;
    text-align: center;
    border: lightgray;
    border-radius: 10px;
    border-style: hidden;
    margin: 10px;
    padding: 10px;
    width: 300px;
    background-color: white;
}

.preguntas-formulario {
    font-size: large;
    font-weight: 400;
    text-align: center;
    margin: 10px;
    padding: 10px; 
    text-align: center;
}

.preguntas_formulario_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.h5 {
    font-size: large;
    text-align: center; 
}

.logo-contacto {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.horarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#botonFormulario {
    background-color: white;
    font-size: large;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.contenedorResdesSociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

.contenedor-redes-sociales {
    margin: 10px;
    padding: 10px;
    width: 70px;
    height: 70px;
}

.col-sm-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*MEDIA QUERIES*/

/*XS*/
@media screen and (min-width:0px) and (max-width: 576px) {
    
    header {
        height: 30vh;
        width: auto;
        justify-content: center;

    }

    .header__logo {
        width: 120px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar_header {
        height: 30vh;
        margin:0px;
        padding: 0px;
        width: auto;
    }

    .nav-link {
        font-size: small;
    }

    li {
        padding: 0px;
        font-size: small;
    }

    .carousel {
        width: auto;
        margin-top: 0px;
    }

    .button_index {
        font-size: medium;
    }
    
    .texto__footer {
        justify-content: flex-start;
        font-size: x-small;
    }

    .textoFooterContacto {
        font-size: small;
    }

    .footer__logo {
        width: 20px;
        height: 20px;
    }
    
    .tarjeta_clientes {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 0px;
        height: 300px;
        width: 180px;
    }
    
    form {
        width: min-content;
        margin: 0px;
        padding: 0px;
    }

    input {
        width: auto;
        font-size: medium;
    }

    select {
        width: auto;
        font-size: medium;
        padding:0px;
    }

    .preguntas-formulario {
        font-size: medium;
    }

    #botonFormulario {
        font-size: medium;
        margin: 0px;
    }

    .h5 {
        font-size: medium;
    }

}

