/*CONTACTO.HTML*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: black;
    border-radius: 10px;
    border-style: solid;
    width:fit-content;
    .imagenAgenda {
        padding: 20px;
        margin: 20px;
        border-radius: 0px;
        width: 100px;
        height: 100px;
    }
    input {
        font-size: large;
        font-weight: 400;
        text-align: center;
        border: lightgray;
        border-radius: 10px;
        border-style: hidden;
        margin: 10px;
        padding: 10px;
        width: 300px;
        background-color: white;
    }
    select {
        font-size: large;
        font-weight: 400;
        text-align: center;
        border: lightgray;
        border-radius: 10px;
        border-style: hidden;
        margin: 10px;
        padding: 10px;
        width: 300px;
        background-color: white;
    }
    .preguntas-formulario {
        font-size: large;
        font-weight: 400;
        text-align: center;
        margin: 10px;
        padding: 10px; 
        text-align: center;
    }
    .preguntas_formulario_flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100px;
    }
    #botonFormulario {
        background-color: white;
        font-size: large;
        font-weight: 600;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
    .h5 {
        font-size: large;
        text-align: center; 
    }
}

div {
    .logo-contacto {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    }
    .h5 {
        font-size: large;
        text-align: center; 
    }

}

.col-sm-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}